@model Pharmacy_System.Models.Customer
@{
    ViewBag.Title = "Customer_Dashboard";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}
   
<h1>Health advice</h1>
<div class="row ">
    <div class="col-md-9 col-sm-12  ">
        <div class="x_panel">
            <div class="x_content">
                <div class="clearfix"></div>
                <div class="inner_left" style="background-color:gainsboro">

                    <div class="inner_pages_title" style="background-color:floralwhite"><strong><h3>Ramadan Health Tips for Patients with Cardiovascular Diseases</h3></strong></div>
                    <div class="inner_pages_title">&nbsp;</div>
                    <div class="col-md-6 col-sm-6"><img style="float: right; margin-top: 25px; margin-left: 30px; margin-right: 30px;" src="~/Image/339---.png" alt="339---.png" width="90%" height="100%"></div>
                    <p class="inner_pages_text" style="text-align: left;">1- Fasting Ramadan help in the reduction of triglycerides and cholesterol level in blood providing adherence to a healthy dietary regimen between "Iftar and Sahour".<br><br>2- Eating dietary products rich in cholesterol and triglycerides as "Beef liver, egg yolk, butter, shrimps and whipped cream" should be limited.<br><br>3- Eating of vegetables with high fiber content as "lettuce, watercress and parsley…etc." help in the reduction of intestinal cholesterol absorption, thus moderating serum "blood" cholesterol level (the main cause for coronary heart diseases).<br><br>4- Eating two meals of seafood rich in polyunsaturated fatty acids "as salmon, sardines and tuna…etc." twice weekly is very important for regulating lipid profile and blood cholesterol level in addition to reducing the incidence of thrombosis, regulation of blood pressure level and increasing vascular elasticity.<br><br>5- Do not forget to ask your doctor or pharmacist for the proper time of administering your medications in Ramadan.</p>
                </div>
                <br />
            </div>
            <div class="x_content">
                <div class="clearfix"></div>
                <div class="inner_left" style="background-color:gainsboro">

                    <div class="inner_pages_title" style="background-color:floralwhite"><strong><h3>Anti-Cancer Foods</h3></strong></div>
                    <div class="inner_pages_title">&nbsp;</div>
                    <div class="col-md-6 col-sm-6"><img style="float: right; margin-top: 25px; margin-left: 30px; margin-right: 30px;" src="~/Image/images (1).jpg" alt="339---.png" width="90%" height="100%"></div>
                    <p class="inner_pages_text" style="text-align: left;"> Healthy diets have a great impact on your overall health. It affects your circulatory system, your heart, cell renewal, in addition to reducing your risk of tumors.<br><br> You can prevent tumors with proper nutrition and adjusting your diet plan to include some natural elements that contain active ingredients such as antioxidants and anti-inflammatory substances. These prevent the blood supply to cancer cells, regulate the rate of cell division, inhibit the growth of cancer cells, and protect the DNA within cells from damage.<br><br> Vitamin B complex, especially vitamin B9 (folic acid), play a critical role in maintaining the quality of DNA and the prevention of damage resulting from oxidants.<br><br> Natural fibers found in green leafy plants, and fruits (such as apples, pears, watermelon, mango and citrus fruits) can dramatically reduce the risk of colon cancer and protect the colon walls from carcinogens.<br><br> Phenols (Flavonoid) found in berries, green tea and coffee have the ability to protect cells from oxidants that cause DNA atrophy and the occurrence of infections and tumors.<br><br> </p>
                    <div class="inner_pages_title" style=""><img style="float: right; margin-top: 25px; margin-left: 30px; margin-right: 30px;" src="~/Image/images.jpg" alt="339---.png" width="40%" height="70%"></div>
                    <p class="inner_pages_text" style="font: 15px Arial, sans-serif; text-align: left ;">Here are some nutrients to keep you cancer-free!<br><br> 1- Green Tea – protects against lung, colon, skin, and breast cancer and blood diseases <br><br>2- Broccoli, apples and onions – protect against prostate, breast, colon and ovarian cancer <br><br>3- Berries and grapes – protect against pancreatic, bladder and colon cancer <br><br>4- Celery and parsley – protect against colon and prostate cancer <br><br>5- Cabbage and Beets – protect against lung, colon and liver cancer <br><br>6- Orange and citrus fruits – protect against blood diseases <br><br>7- Coffee – protects against ovarian, uterine, pancreatic and kidney cancer <br><br>8- Peas, lentils and beans – protect against colon cancer <br><br>9- Fish, salmon, mackerel, and sardines – protect against colon cancer and blood diseases <br><br>10- Dark leafy plants such as spinach and watercress – protect against prostate, colon and stomach cancer</p>
                </div>
                <br />
            </div>

        </div>
    </div>

    <div class="col-md-3 col-sm-0  ">


        <div class="x_panel">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                        August<br>
                        <span style="font-size:18px">2017</span>
                    </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li><span class="active">10</span></li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
            </ul>

        </div>
        <br /><br /><br />
        <div class="x_panel">
            <h4>Ask for a personal consultation from a pharmacist</h4>
            <img src="~/Image/medical-tips.jpg" alt="vaitmen_c_small.jpg" width="250" height="250" align="right" hspace="30">
            <button type="button" id="btn" class="btn btn-info"> Ask the Doctore</button>

        </div>
    </div>
</div>
<div class="row" id="Ask" style="display:none">
    <h3> Ask the Doctore</h3>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $("#btn").click(function () {
            $("#Ask").show();
        })
    })
</script>
@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Customer_Dashboard", "Customer",new { id = Session["Customer_id"] }, null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Customer_Profile", "Customer", new { id = Session["Customer_id"] },null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a href="@Url.Action("Show_Medicine", "Customer", null)"><i class="fa fa-plus-square"></i> Show Medicine</a>
            </li>

        </ul>
    </div>
}