@model Pharmacy_System.Models.Customer
@{
    ViewBag.Title = "Customer_Profile";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}

<div class="row">
    <!-- form input mask -->
    <div class="col-md-6 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Personal Information</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">

                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Html.DisplayNameFor(model => model.fname)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.fname)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayNameFor(model => model.lname)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">  @Html.DisplayFor(model => model.lname)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayNameFor(model => model.user_name)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.user_name)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Html.DisplayNameFor(model => model.phone_number)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.phone_number)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Html.DisplayNameFor(model => model.date_birth)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.date_birth)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Html.DisplayNameFor(model => model.email_address)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.email_address)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Html.DisplayNameFor(model => model.card_id)</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3"> @Html.DisplayFor(model => model.card_id)</label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>

                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="button" id="Edit" class="btn btn-success">Edit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /form input mask -->
    <!-- form color picker -->
    <div class="col-md-6 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>System Setting</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">

                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3  ">Language</label>
                        <div class="col-md-9 col-sm-9  ">
                            <label class="control-label col-md-3 col-sm-3  ">English (United States)</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3  ">Privacy Setting</label>
                        <div class="col-md-9 col-sm-9  ">
                            <div class="input-group demo2">
                                <label class="control-label col-md-6 col-sm-6  ">Only administrator can view your profile information</label>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="new_edit" style="display:none;">
    <div>
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <form id="customer_edit">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Customer</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.fname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.lname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.date_birth, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.date_birth, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.date_birth, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.email_address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email_address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.card_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.card_id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.card_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" id="save" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#Edit").click(function () {
            $("#new_edit").show();
        })
    })
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#save").click(function () {
            if ($("#customer_edit").valid()) {
                myData = $("#customer_edit").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Customer/edit_customer",
                    data: myData,

                    success: function (response) {
                        location.reload();
                    }

                })
            }
        })
    })
</script>
@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Customer_Dashboard", "Customer",new { id = Session["Customer_id"] }, null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Customer_Profile", "Customer", new { id = Session["Customer_id"] },null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a href="@Url.Action("Show_Medicine", "Customer", null)"><i class="fa fa-plus-square"></i> Show Medicine</a>
            </li>

        </ul>
    </div>
}

