@model Pharmacy_System.Models.Customer
@using Pharmacy_System.Models;
@{
    ApplicationDbContext db2 = new ApplicationDbContext();
}
@{
    ViewBag.Title = "Show_Medicine";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}
<div>
    <div class="x_panel">
        <div class="x_title">
            <h1><span class="fa fa-stethoscope"></span>Medicines</h1>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable_filter" class="dataTables_filter"></div>
            <table class="table table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Black List</th>
                        <th>Price</th>
                        <th>Max Dose</th>
                        <th>Import Date</th>
                        <th>Expire Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in db2.Medicines)
                    {
                        <tr>
                            <th scope="row">@Html.DisplayFor(modelItem => item.name)</th>
                            <td>@Html.DisplayFor(modelItem => item.description)</td>
                            <td>@Html.DisplayFor(modelItem => item.black_list)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.max_dose)</td>
                            <td>@Html.DisplayFor(modelItem => item.import_date)</td>
                            <td>@Html.DisplayFor(modelItem => item.expire_date)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Admin_Dashboard", "Admin", null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Admin_Profile", "Admin", null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a><i class="fa fa-users"></i> Admins <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Admins", "Admin", null)">Show Admins</a></li>
                    <li><a href="@Url.Action("Add_Admins", "Admin", null)">Add Admins</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-wheelchair"></i> Customers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Customers", "Admin", null)">Show Customers</a></li>
                    <li><a href="@Url.Action("Add_Customers", "Admin", null)">Add Customer</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-plus-square"></i> Medicines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Medicine", "Admin", null)">Show Medicines</a></li>
                    <li><a href="@Url.Action("Add_Medicine", "Admin", null)">Add Medicines</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-newspaper-o"></i> News <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_News", "Admin", null)">Show News</a></li>
                    <li><a href="@Url.Action("Add_News", "Admin", null)">Add News</a></li>
                </ul>
            </li>
        </ul>
    </div>
}