@model Pharmacy_System.Models.Medicine

@{
    ViewBag.Title = "Add_Medicine";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}


@using (Html.BeginForm("Add_Medicine","Admin",null,FormMethod.Post,new { enctype = "form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h1><span class="fa fa-plus-square" style="color:dimgrey;"></span>Add Medicine</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="item form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.black_list, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.black_list, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.black_list, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                <!--<span class="fa fa-cc-visa form-control-feedback left" aria-hidden="true"></span>-->
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.max_dose, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.max_dose, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.max_dose, "", new { @class = "text-danger" })
                                <!--<span class="fa fa-cc-visa form-control-feedback left" aria-hidden="true"></span>-->
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.import_date, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.import_date, new { htmlAttributes = new { @class = "date-picker form-control", @required = "required", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.import_date, "", new { @class = "text-danger" })
                                <!--<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>-->
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.expire_date, htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                @Html.EditorFor(model => model.expire_date, new { htmlAttributes = new { @class = "date-picker form-control", @required = "required", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.expire_date, "", new { @class = "text-danger" })
                                <!--<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>-->
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Admin_Dashboard", "Admin", null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Admin_Profile", "Admin", null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a><i class="fa fa-users"></i> Admins <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Admins", "Admin", null)">Show Admins</a></li>
                    <li><a href="@Url.Action("Add_Admins", "Admin", null)">Add Admins</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-wheelchair"></i> Customers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Customers", "Admin", null)">Show Customers</a></li>
                    <li><a href="@Url.Action("Add_Customers", "Admin", null)">Add Customer</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-plus-square"></i> Medicines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Medicine", "Admin", null)">Show Medicines</a></li>
                    <li><a href="@Url.Action("Add_Medicine", "Admin", null)">Add Medicines</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-newspaper-o"></i> News <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_News", "Admin", null)">Show News</a></li>
                    <li><a href="@Url.Action("Add_News", "Admin", null)">Add News</a></li>
                </ul>
            </li>
        </ul>
    </div>
}
