@model Pharmacy_System.Models.Medicine

@using Pharmacy_System.Models;
@{
    ApplicationDbContext db2 = new ApplicationDbContext();
}

@{
    ViewBag.Title = "Edit_admin_medicine";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}


<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2><span class="fa fa-users"></span>Admins</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="overflow-y:scroll;overflow-x:hidden;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <
                                    <th>name</th>
                                    <th>price</th>
                                    <th>description</th>
                                    <th>import date</th>
                                    <th>black list</th>
                                    <th>max dose</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in db2.Medicines.ToList())
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(ModelItem => item.name)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.Price)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.description)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.import_date)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.black_list)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.max_dose)</td>
                                        <td>@Html.ActionLink("Edit", "Edit_Admin", new { id = item.id }, new { @class = "btn btn-secondary btn-sm fa fa-edit" })</td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Details</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                    name
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                    price
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                    description
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                    import date
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.import_date, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.import_date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">
                                    black list
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.black_list, new { htmlAttributes = new { @class = "form-control has-feedback-left" } })
                                    @Html.ValidationMessageFor(model => model.black_list, "", new { @class = "text-danger" })
                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">max dose</label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.max_dose, new { htmlAttributes = new { @class = "date-picker form-control has-feedback-left", @Type = "date" } })
                                    @Html.ValidationMessageFor(model => model.max_dose, "", new { @class = "text-danger" })
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">expire date</label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.expire_date, new { htmlAttributes = new { @class = "form-control has-feedback-left" } })
                                    @Html.ValidationMessageFor(model => model.expire_date, "", new { @class = "text-danger" })
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <input type="submit" value="Submit" class="btn btn-success" />

                                    @Html.ActionLink("Delete", "Delete_admin_medicine", new { Model.id }, new { @class = "btn btn-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Admin_Dashboard", "Admin", null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Admin_Profile", "Admin", null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a><i class="fa fa-users"></i> Admins <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Admins", "Admin", null)">Show Admins</a></li>
                    <li><a href="@Url.Action("Add_Admins", "Admin", null)">Add Admins</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-wheelchair"></i> Customers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Customers", "Admin", null)">Show Customers</a></li>
                    <li><a href="@Url.Action("Add_Customers", "Admin", null)">Add Customer</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-plus-square"></i> Medicines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Medicine", "Admin", null)">Show Medicines</a></li>
                    <li><a href="@Url.Action("Add_Medicine", "Admin", null)">Add Medicines</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-newspaper-o"></i> News <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_News", "Admin", null)">Show News</a></li>
                    <li><a href="@Url.Action("Add_News", "Admin", null)">Add News</a></li>
                </ul>
            </li>
        </ul>
    </div>
}
