
@{
    ViewBag.Title = "Show_News";
    Layout = "~/Views/Shared/Project_Shareds/_PharmacyLayout.cshtml";
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2><span class="fa fa-newspaper-o"></span> News</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="overflow-y:scroll;overflow-x:hidden;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Release date</th>
                                    <th>Title</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3:00AM</td>
                                    <td>Hazem the challenger</td>
                                    <td><button class="btn btn-secondary btn-sm fa fa-eye" style="background-color:cornflowerblue;"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Details</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                                Title
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" class="form-control " disabled="disabled">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                                Image
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="file" accept="image/*" disabled="disabled">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                Description
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                          data-parsley-validation-threshold="10" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                Release date
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="date-picker form-control" type="time" disabled="disabled">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="submit" value="Submit" class="btn btn-success" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Sidebar{
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Admin_Dashboard", "Admin", new { id = Session["user_id"] },null)"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Admin_Profile", "Admin",new { id = Session["user_id"] } ,null)"><i class="fa fa-user-md"></i> Profile</a>
            </li>
            <li>
                <a><i class="fa fa-users"></i> Admins <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Admins", "Admin", null)">Show Admins</a></li>
                    <li><a href="@Url.Action("Add_Admins", "Admin", null)">Add Admins</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-wheelchair"></i> Customers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Customers", "Admin", null)">Show Customers</a></li>
                    <li><a href="@Url.Action("Add_Customers", "Admin", null)">Add Customer</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-plus-square"></i> Medicines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_Medicine", "Admin", null)">Show Medicines</a></li>
                    <li><a href="@Url.Action("Add_Medicine", "Admin", null)">Add Medicines</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-newspaper-o"></i> News <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Show_News", "Admin", null)">Show News</a></li>
                    <li><a href="@Url.Action("Add_News", "Admin", null)">Add News</a></li>
                </ul>
            </li>
        </ul>
    </div>
}